* {
    color: rgb(0, 0, 0);
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border: 1px solid black;
}

h1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    margin-top: -4rem;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}
ul li {
    list-style: none;
}
.bbt a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
}
.ylbt a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 0);
}
.gbt a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(0, 255, 0);
}
a:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px white;
    transition: 0.2s ease-in-out;
}